@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@font-face{
  font-family: Pressstart;
  src: url("../src/assets/fonts/PressStart2P-Regular.ttf")
}

@font-face{
  font-family: eduVIC;
  src: url("../src/assets/fonts/EduVICWANTBeginner-Regular.ttf")
}

@theme{
  --font-pressstart: Pressstart, "sans-serif"; 
  --font-eduVIC: eduVIC, "sans-serif"; 
}

.swiper-pagination {
  display: none !important;
}

@custom-variant dark (&:where(.dark, .dark *))
